/* Box Model Hack */
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
}

img,
video {
	height: auto;
	width: 100%;
}

/* Clear fix hack */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
:root {
	--font: "Roboto", "Source Sans Pro", "Roboto Condensed", sans-serif;
	--main-grey: rgb(99, 116, 136);
	--main-lightgrey: rgb(214, 218, 222);
	--main-darkgrey: rgb(22, 29, 37);
	--main-white: rgb(255, 255, 255);
}

body {
	/* border: 2px solid lightblue; */
	font-family: var(--font);
	text-align: center;
	background: var(--main-darkgrey);
	color: var(--main-white);
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
button {
	background-color: var(--main-grey);
	color: var(--main-white);
	border: none;
	margin: 10px;
	padding: 10px;
	border-radius: 5%;
}
/******************************************
/* LAYOUT
/*******************************************/
section {
	height: 350px;
	width: 100%;
}
.game-container {
	border: 3px solid var(--main-grey);
	height: 300px;
	width: 300px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: auto;
}
.box {
	outline: 2px solid var(--main-grey);
}
.index-0 {
	/*   background: red; */
}

.index-1 {
	/*   background: red; */
}

.index-2 {
	/*   background: red; */
}

.index-3 {
	/*   background: red; */
}

.index-4 {
	/*   background: red; */
}

.index-5 {
	/*   background: red; */
}

.index-6 {
	/*   background: red; */
}

.index-7 {
	/*   background: red; */
}

.index-8 {
	/*   background: red; */
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************
/* On mobile, please make all sections stack  */
/* @media all and (max-width: 390px) {
  main section,
  .bottom section {
    width: 100%;
  }
} */

/* On tablet, please make the sections in main stack  */
/* @media all and (max-width: 820px) {
  main section {
    width: 100%;
  }
} */

/* On laptop, please keep the normal layout, but everything should be light green */
/* @media all and (min-width: 820px) {
  
} *

/* On larger screens, please keep the normal layout, but everything should be light blue */
/* @media all and (min-width: 1024px) {
  
} */
